<launch>
	<node
		pkg="turtlesim" 
		name="turtle1" 
		type="turtlesim_node">
		<remap from="turtle1/cmd_vel" to="velocidade" />
	</node>
	<node 
		pkg="turtlesim" 
		name="turtle2" 
		type="turtlesim_node">
		<remap from="turtle1/cmd_vel" to="velocidade" />
	</node>
	<node
		pkg="turtlesim"
		name="teclado"
		type="turtle_teleop_key">
		<remap from="turtle1/cmd_vel" to="velocidade" />
	</node>
</launch>
